body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-size: 36px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
button {
  display: block;
  margin: 30px auto;
  border: 1.5px solid plum;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 12px;
  transition: all 150ms ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: plum;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}
footer {
  text-align: center;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
}
#link {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-weight: 600;
  opacity: 0.7;
}

.dark {
  background: black;
  color: white;
}
.dark .container {
  background: rgba(255, 255, 255, 0.1);
}

.dark a {
  color: plum;
}

.dark footer {
  color: white;
}

.dark #link {
  color: plum;
}
